/node_modules
/public/storage
storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/config/app.php
/storage/logs/laravel.log
/vendor/composer/LICENSE
/vendor/composer/*.php
/config/database.php
public/uploads/*
public/uploads/docs/*
/public/uploads/*
/public/uploads/docs/*
storage/logs/laravel.log
